.filter_wrapped{
    display: flex;
    gap: 24px;
}

.filter_container{
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    background-color: grey;
    gap: 8px;
    color: beige;
    padding: 4px;
}

.filter_options_container{
    border: none;
    background-color: grey;
    width: fit-content;
}